## This config file contains all information connected to the lagrangian
## displacement of the variables / domains around the TRT cell centres.

## ====== Lagrangian displacement ==============================================
[lagrangian_displacement]
## Which variable should be used to derive optical flow:
## (alternatives to RZC -> not implemented!)
oflow_source        = RZC
## Which method should be used to derive optical flow:
## (alternative: DARTS -> not implemented!)
oflow_method_name   = lucaskanade
## Print status within loops:
verbose             = True

## Time step between input datasets in minutes:
timestep            = 5
## Number of time steps which should be displaced to current time step t0:
n_integ             = 10
## How many additional frames should be used for calculating the derivation
## of the motion field:
n_past_frames       = 4
## Return list of intermediate UV-vectors (original and sparsenned):
UV_inter            = False

## Threshold to restrict optical flow input data:
R_thresh_meth = perc
R_threshold   = 99
## R threshold method (R_thresh_meth):
## - fix:  fixed threshold in mm/h
## - perc: percentile treshold in %
## Do residual displacement:
## If 'None' no residual displacement,
## if 'Onestep' add ini and resid displacement fields and displace orig
## if 'Twostep' displace orig and disp seperately.

## Use precalculated XYW array in displacement of arrays.
use_precalc_XYW     = True

## Method stating how residual movement should be corrected for:
instant_resid_corr  = True
resid_method        = Onestep
# Onestep
#resid_disp          = None
#resid_disp_onestep  = True
n_past_frames_resid = 3
R_thresh_meth_resid = perc
R_threshold_resid   = 99.5
decl_grid_resid     = 20
inter_fun_resid     = gaussian
epsilon_resid       = 15
zero_interpol       = True

## Use TRT cell centers which are displaced
## backwards against the flow:
## (highly recommended!)
displ_TRT_cellcent  = True

## ====== Displacement verification ============================================
[verification]
## Should a verification be performed:
## (Do not do this, it will probably not work...)
verify_disp = False
verif_param = resid_method
#R_threshold

## List of skill scores to be calculated:
scores_list = csi,hk,sedi
## Corresponding to
## - Critical Success Index
## - Hanssen-Kuipers Discriminant
## - Symmetric Extremal Dependence Index

## Number of statistics to write out per variable:
n_stat      = 5
## - Min
## - Max
## - Mean
## - 90% quantile
## - Number of Pixels

## ====== Variables (DEPRECATED) =========================================================
[variables]
## var_list    = RZC,TWATER,CAPE_MU,CAPE_ML,CIN_MU,CIN_ML,SLI,BZC,LZC,MZC,EZC,EZC15,EZC45,HRV,VIS006,VIS008,IR_108,IR_120,WV_062,THX
## Not included:  Wind,Conv
#conv_vars   = TWATER,CAPE_MU,CAPE_ML,CIN_MU,CIN_ML,SLI
## Corresponding to
## - Rain rate
## - POH
## - VIL
## - Maximum expected severe hail size (MESHS)
## - ECHO TOP (for 15, 20, 45, and 50 dBZ filename extension 815, 820, 845, and 850)
##-----------------------------------------------------
## - Lightning density
##-----------------------------------------------------
## - Atmosphere water content
## - CAPE/CIN of most unstable parcel
## - CAPE/CIN of mean surface layer parcel
## - Surface lifted index
## - ... (See ncview <ncfile.nc>)
